@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
    <h1 class="display-4">Welcome to Wedding Planner</h1>
    <div class="row">
        <div class="col-sm-6">
            <h2 style="margin:100px 0 50px 0;">Register</h2>
            <partial name="_Register">
        </div>
        <div class="col-sm-6">
            <h2 style="margin:100px 0 50px 0;">Login</h2>
            <partial name="_Login">
        </div>
    </div>
</div>
